<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 把创建的对象交给spring来管理 -->
    <bean id="accountDao" class="com.xupt.ff.dao.impl.accountDaoImpl" ></bean>
    <bean id="accountService" class="com.xupt.ff.service.impl.accountServiceImpl" ></bean>

    
</beans>